.header.account-header .header__button-block {
  color: var(--white);
}
.header.account-header .header__button-block svg {
  fill: rgba(225, 225, 225, 0.3);
}
.header.account-header .header__button-block:hover svg {
  fill: rgba(225, 225, 225, 0.1);
}
.video-header.account-header {
  top: 33px;
}
