.header.account-header .header__button-block {
  color: var(--white);
}
.header.account-header .header__button-block svg {
  fill: rgba(225, 225, 225, 0.3);
}
.header.account-header .header__button-block:hover svg {
  fill: rgba(225, 225, 225, 0.5);
}
.video-header.account-header {
  top: 33px;
}
.video-header .header__button-block {
  text-transform: none;
}
.body-account .header__button-block {
  width: 91px;
}

.body-account .header__block {
  padding-right: 8px;
}
@media (max-width: 550px) {
  /*.body-account .header {*/
  /*  width: calc(100vw - 30px) !important;*/
  /*  left: 15px !important;*/
  /*}*/
}
