.video-header__back {
  display: block;
  margin-left: -5px;
  width: 36px;
  height: 100%;
}
.video-header__back a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.video-header__back a svg {
  stroke: #e1f0ff;
  transition: all 0.25s ease-in;
  stroke-width: 2px;
}
.video-header__back:hover a svg {
  stroke: var(--white);
  stroke-width: 3px;
}
.video-header {
  top: 46px;
}
.video-header .header__block {
  height: 68px;
  padding: 8px 37px 8px 13px;
}
.video-header .header__wrapper {
  padding: 0;

  border-radius: 20px;
}
.video-header .header__form {
  margin-left: 141px;
}
.video-main {
  margin-top: 154px;
}
@media (max-width: 768px) {
  .video-header .header__form {
    margin-left: 15%;
  }
  .video-body .header__block {
    padding-right: 15px;
  }
}
@media (max-width: 650px) {
  .video-header {
    top: 20px;
  }
  .header {
    height: 53px;
  }
  .video-header .header__block {
    height: 53px;
    padding: 8px 8px 8px 13px;
  }
}
@media (max-width: 550px) {
  .video-header .header__form {
    margin-left: 0;
  }
}
@media (max-width: 370px) {
}
