.body-main .header {
  top: 33px;
  /* max-width: 1160px;
  left: calc((100vw - 1160px) / 2);
  transform: none; */
}

.results-trial .header {
  top: 33px;
  max-width: 1160px;
  left: calc((100vw - 1160px) / 2);
  transform: none;
}
.body-main .header__button-block {
  width: 91px;
}
.body-main .header__wrapper {
  padding-right: 14px;
}
.body-main .header .header__button-block svg {
  fill: rgba(255, 255, 255, 0.3);
}
.body-main .header .header__button-block:hover svg {
  fill: rgba(255, 255, 255, 0.5);
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
  gap: 36px;
  align-items: center;
  margin-right: 60px;
}
.header__list li a {
  font-size: 16px;
  line-height: 1.55;
  text-align: center;
  color: #fff;
  font-family: 'myfontBold';
}
.header__button-real {
  text-transform: none;
  color: white;
}
@media screen and (max-width: 1200px) {
  .results-trial .header {
    left:15px;
    width: calc(100% - 30px)
  }
}
@media screen and (max-width: 1110px) {
  .header__nav {
    display: none;
  }
  .header__container {
    padding: 0;
  }
}
@media (max-width: 550px) {
  .body-main .header {
    top: 20px;
  }
  .body-main .header__wrapper {
    padding: 6px 7px;
  }
  .header {
    height: 53px;
    width: calc(100vw - 30px);
    left: 15px;
    top: 20px;
    transform: none;
  }

  .header__logo {
    width: 136px;
    height: 40px;
  }
  .header__wrapper {
    padding: 6px 16px;
  }
}
@media (max-width: 370px) {
  .header {
    height: 53px;
    width: calc(100vw - 20px);
    left: 10px;
    top: 10px;
    transform: none;
  }
}
